/*
 * Main theme
*/
header {
    min-height: 100px;
  }
  main {
    min-height: 100vh;
  }
  footer {
    min-height: 100px;
  }
  
  .container-fluid {
    margin: 0;
    padding: 0;
    .row {
      margin: 0;
      padding: 0;
    }
  }
  /*
  *
  * ==========================================
  * CUSTOM UTIL CLASSES
  * ==========================================
  *
  */
  .dropdown {
    &:hover {
      > .dropdown-menu {
        display: block;
      }
    }
  }
  .megamenu {
    position: static;
    .dropdown-menu {
    border: none;
    width: 100%;
    }
  }
  .logo{
    height: 45px;

  }
  