<div role="main" class="container">


    <div class="my-3 p-3 bg-white rounded shadow-sm">

     

       
        <h2 class="border-bottom border-gray pb-2 mb-0">Unit Details</h2>

        <div class="media text-muted pt-3">

            <table class="table table-striped table-dark table-hover">
                <thead >
                    <tr>
                        <th scope="col">ID :</th>
                        <th scope="col">{{unit?.id}}</th>
                    </tr>
                    <tr>
                        <th scope="col">Name : </th>
                        <th scope="col">{{unit?.name}}</th>
                    </tr>
                    <tr>
                        <th scope="col">Description : </th>
                        <th scope="col">{{unit?.description}}</th>           
                    </tr>
                    <tr>
                        <th scope="col">Min. Required Age : </th>
                        <th scope="col">{{unit?.age}}</th>
                    </tr>
                    <tr>                   
                        <th scope="col">Wood : </th>
                        <th *ngIf="unit?.cost?.Wood" scope="col"> {{unit?.cost?.Wood}} </th>
                        <th *ngIf="!unit?.cost?.Wood">-</th>
                    </tr>
                    <tr>                   
                        <th scope="col">Food : </th>
                        <th *ngIf="unit?.cost?.Food" scope="col"> {{unit?.cost?.Food}} </th>
                        <th *ngIf="!unit?.cost?.Food">-</th>
                    </tr>
                    <tr>                   
                        <th scope="col">Gold : </th>
                        <th *ngIf="unit?.cost?.Gold" scope="col"> {{unit?.cost?.Gold}} </th>
                        <th *ngIf="!unit?.cost?.Gold">-</th>
                    </tr>
                    <tr>
                        <th  scope="col">Build Time : </th>
                        <th *ngIf="unit?.build_time" scope="col">{{unit?.build_time}}</th>
                        <th *ngIf="!unit?.build_time" scope="col">-</th>
                    </tr>
                    <tr>
                        <th scope="col">Reload Time : </th>
                        <th *ngIf="unit?.reload_time" scope="col">{{unit?.reload_time}}</th>
                        <th *ngIf="!unit?.reload_time" scope="col">-</th>
                    </tr>
                    <tr>
                        <th scope="col">Hit Points : </th>
                        <th *ngIf="unit?.hit_points" scope="col">{{unit?.hit_points}}</th>
                        <th *ngIf="!unit?.hit_points" scope="col">-</th>
                    </tr>
                    <tr>
                        <th scope="col">Attack : </th>
                        <th *ngIf="unit?.attack" scope="col">{{unit?.attack}}</th>
                        <th *ngIf="!unit?.attack" scope="col">-</th>
                    </tr>
                    <tr>
                        <th scope="col">Accuracy : </th>
                        <th *ngIf="unit?.accuracy" scope="col">{{unit?.accuracy}}</th>
                        <th *ngIf="!unit?.accuracy" scope="col">-</th>
                    </tr>
                </thead>
                
            </table>
        </div>

    </div>



</div>